<html>
<body>
<form action="/read">
	<input style="float:left" type="submit" value="home">
</form>

<form action="/login">
<input style="float:right" type="submit" value="logout">
</form>

</body>
</html>
