<html>

<body>
	<hr>
	<form action="/register" method="post">
		Username: <input type="text" name="name"><br>
		Password: <input type="password" name="password"><br>
		<input type="submit" value="Register">
	</form>
</body>

</html>
