<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Restaurant</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<style type="text/css">
  .well {
      background: none;
      height: 320px;
  }

  .table-scroll tbody {
      position: absolute;
      overflow-y: scroll;
      height: 250px;
  }

  .table-scroll tr {
      width: 100%;
      table-layout: fixed;
      display: inline-table;
  }

  .table-scroll thead > tr > th {
      border: none;
  }
</style>

<body>
  <div class="jumbotron text-center container=fluid">
    <h1>Restaurants</h1>
    
      <p>User:<%=name%></p>
      
    <p>Showing 14 documents 
    (criteria: {})</p>
  </div>
  <div class="container-fluid">
    <div class="row">
      <a href="/new">
        <button class="btn btn-default">Create New Restaurant</button>
      </a>
    </div>
    <div class="row">
      <table class="table table-striped table-bordered table-hover table-scroll">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          
            <tr>
              <td class=><a href=/display?_id=5f7314c9146362099ddb7c8a>Doutor</a></td>
            </tr>
            
            <tr>
              <td class=><a href=/display?_id=5fb7455a46fdb20076fb08d8>1</a></td>
            </tr>
            
            <tr>
              <td class=><a href=/display?_id=5fb944e346fdb20076fb08dc>rr</a></td>
            </tr>
            
            <tr>
              <td class=><a href=/display?_id=5fc34d98e95e0a007874938b>test</a></td>
            </tr>
            
            <tr>
              <td class=><a href=/display?_id=5fc4696be95e0a007874938d>11</a></td>
            </tr>
            
            <tr>
              <td class=><a href=/display?_id=5fc4e074e95e0a007874938e>yeah</a></td>
            </tr>
            
            <tr>
              <td class=><a href=/display?_id=5fc5c027e95e0a0078749391>1</a></td>
            </tr>
            
            <tr>
              <td class=><a href=/display?_id=5fc7b0fbe95e0a0078749392>d</a></td>
            </tr>
            
            <tr>
              <td class=><a href=/display?_id=5fca4bb7e95e0a0078749393>test</a></td>
            </tr>
            
            <tr>
              <td class=><a href=/display?_id=5fca4c3fe95e0a0078749395>asd</a></td>
            </tr>
            
            <tr>
              <td class=><a href=/display?_id=5fca4cbde95e0a0078749396>198964</a></td>
            </tr>
            
            <tr>
              <td class=><a href=/display?_id=5fcc563f5dfae50080cae325>d</a></td>
            </tr>
            
            <tr>
              <td class=><a href=/display?_id=5fcc56575dfae50080cae326>d</a></td>
            </tr>
            
            <tr>
              <td class=><a href=/display?_id=5fcce4e65dfae50080cae327>hi</a></td>
            </tr>
            
        </tbody>
      </table>
    </div>
  </div>
    
</body>
</html>
